<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <title>sign up</title>
        <style>
            html{
                padding: 50px;
                }
        </style>
    </head>
    <body>
        <div class="container">
            <div class= "col-sm-6 col-sm-offset-3">
                <h2>Register</h2>
                
                <% if(message.length > 0) { %>
                <div class = "alert alert-danger"><%= message %></div>
                <% } %>

                <form action="/signup" method="post">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="password">
                </div>

                <button type="submit" class="">Register</button>
                </form>
                
                <hr>

                <p>Need an account <a href="/signup">Register</a></p>
                <p>Go Back<a href="/">Home</a>.</p>


            </div>

        </div>
        
        
        <script src="" ></script>
    </body>
</html>